{% extends 'main.html' %}

{% block content %}




    <!-- Main Section -->
    <main class="formPage my-xl">
        <div class="content-box">
            <div class="formWrapper">
               <h1>Password Reset Sent</h1>
                    
                <p>A password change email has been sent to your registered email address.</p>
                <br>
                <p>If you have not received it, please check that you entered the correct email address and review your spam or junk folder.</p>

            </div>
        </div>
    </main>


{% endblock content %}

